<h3>
  <%= @session_level.slevel_name %>
</h3>

<p>
  会话等级代码:
  <%= @session_level.slevel_code %>
</p>

<p>
  会话等级描述:
  <%= @session_level.slevel_desc %>
</p>
<%= link_to '修改', edit_adminpanel_session_level_path(@session_level) , :class => "btn" %>
&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '删除', adminpanel_session_level_path(@session_level), confirm: 'Are you sure?', method: :delete, :class => "btn" %>
<%= link_to '返回', adminpanel_session_levels_path, :class => "btn" %>
