
<h1>未被注册终端列表</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>终端名称</th>
      <th>终端S/N</th>
      <th>IP地址</th>
      <th></th>
    </tr>
 </thead>
 <tbody>
<% @noregistration_devices.each do |noregistration_device| %>
    <tr>
      <td><%= noregistration_device.name %></td>
      <td><%= noregistration_device.sn_no %></td>
      <td><%= noregistration_device.ip_address %></td>
      <td><%= link_to '详情', noregistration_detail_adminpanel_device_path(noregistration_device), :class => "btn" %> &nbsp;&nbsp;&nbsp;&nbsp; <%= link_to '注册新终端', new_adminpanel_device_path(:noregistration_device_id=>noregistration_device.id), :class => "btn" %> </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link_to '已注册终端列表', adminpanel_devices_path, :class => "btn btn-primary" %>
&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '注册新终端', new_adminpanel_device_path, :class => "btn btn-primary" %>
&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '呼叫号码配置', adminpanel_callno_pools_path, :class => "btn btn-primary" %>